doctype html
html
  head
    title Register
    style.
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #333333;
        background-image: url('background.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-color: #333333; 
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        width: 420px;
        background-color: #292828;
        color: white; 
        border-radius: 20px;
        padding: 30px 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

      h1 {
        font-size: 36px;
        text-align: center;
        margin-top: 50px;
      }

      label {
        display: block;
        color: white;
        margin-bottom: 5px;
      }

      input {
        width: 80%;
        height: 10px;
        background: transparent;
        border: none;
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        font-size: 16px;
        color: white;
        padding: 20px 45px 20px 20px;
      }

      .btn {
        display: inline-block;
        width: fit-content;
        padding: 10px 20px;
        background-color: black;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

  body
    .container
      h1 Register
      form(action="/register" method="post")
        .input-group
          label(for="username") Username
          input(type="text" id="username" name="username" required)
        .input-group
          label(for="email") Email
          input(type="email" id="email" name="email" required)
        .input-group
          label(for="password") Password
          input(type="password" id="password" name="password" required)
        .button-container(style="text-align: center;")
          button.btn(type="submit") Register
